
body {
    background: #fdfbc4
}
h1{
color: rgb(255, 0, 132);
text-align: center;
font-size: 30px;
}
p{
 color: rgb(149, 255, 0);
text-align:justify;
font-size: 12px;
}
div{
p{
    color: rgb(93, 0, 255);
   text-align:justify;
   font-size: 14px;
   }
}
